.bubble {
    position: absolute;
    &-left {
        &-first {
            left: 0;
            top: 15%;
            z-index: 1;
        }

        &-second {
            left: -2vw;
            top: 20%;
            z-index: 2;
        }
    }

    &-right {
        &-first {
            right: 0;
            top: 15%;
            z-index: 1;
        }

        &-second {
            right: -3vw;
            top: 30%;
            z-index: 2;
        }
    }

    &-bottom {
        bottom: 0px;
        z-index: 1;
    }
}
