$padding-small: 10px;
$padding-big: 15px;

$margin-small: 10px;
$margin-big: 15px;

$border-radius: 10px;
$opacity: 0.7;
$null: 0;

$button-height: 40px;

$white-color: #FFFFFF;
$black-color: #000000;
$red-color: #E03E3F;
$grey-color: #DFDFDF;
$primary-color: #7158BF;
$helpy-color: #613CB0;
$secondary-color: #B03CA9;
$section-color: #A2A1FF;
$section-color-grey: #EFEFEF;

$universal-gradient: linear-gradient($helpy-color, $secondary-color);

