$padding-small: 10px;
$padding-big: 15px;
$padding-large: 20px;

$margin-small: 10px;
$margin-big: 15px;

$border-radius: 10px;
$border-radius-big: 25px;
$opacity: 0.7;
$null: 0;

$button-height: 40px;

$white-color: #FFFFFF;
$black-color: #000000;
$red-color: #E03E3F;
$grey-color: #DFDFDF;
$primary-color: #7158BF;
$helpy-color: #613CB0;
$secondary-color: #B03CA9;
$section-color: #A2A1FF;
$section-color-grey: #EFEFEF;

$universal-gradient: linear-gradient($helpy-color, $secondary-color);

$h1: 48px;
$h2: 36px;
$h3: 32px;
$title: 20px;
$subtitle: 16px;
$control: 18px;
$action: 24px;
$body: 18px;
$caption: 14px;

$header-perc: 7%;
